@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@import url('https://fonts.googleapis.com/css2?family=WDXL+Lubrifont+TC&display=swap');


html{
  background: #dfa3ff
}
a{
  color: #306b4e;
  font-family: "WDXL Lubrifont TC", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.jjba1{
  border: 10px groove #45284a;
  background: #a880bd;
  color: #59167d
}

#theup{
  font-size:45px;
}
#two{
  font-size:35px;
  color:#2d5354
}
#one{
  color:#1b1b26
}
#partone{
  color:#211b26
}
#parttwo{
  color:#1b261e
}
#partthree{
  color:#26211b
}
#partfour{
  color:#1b2326
}
#partfive{
  color:#26261b
}
#partsix{
  color:#1b2621
}
#partseven{
  color:#33663b
}
#parteight{
  color:#632c7a
}
.upperthenup{
  font-size:25px;
  color:#251f30;
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
h2{
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}
h4{
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}
